{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}
{% block content %}
    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url({{ header.image.url }})" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row row-mt-15em">
                <div class="col-md-12 mt-text text-center animate-box" data-animate-effect="fadeInUp">
                    <h1><strong>{{ header.title }}</strong></h1>    
                    <h2><strong>{{ header.subtitle }}</strong></h2>
                    <div class="text-center"><a href="{{ header.video }}" class="btn btn-primary btn-lg popup-vimeo">Watch the video</a></div>
                </div>
            </div>
        </div>
    </header>

    <div id="gtco-sections">
    {% for section in sections %}
    <div id="gtco-about" class="flex-section {% cycle 'gtco-gray-bg' 'reverse' %}">
        <div class="col-1">
            <div class="text">

                <div class="row row-pb-sm">
                    <div class="col-md-12">
                    <h2>{{ section.title }}</h2>
                    
                    {{ section.content | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 flex-img" style="background-image: url({{ section.section_image.url }});"></div>
    </div>
    
    <div class="gtco-cover gtco-cover-sm" style="background-image: url({{ section.subquote_image.url }})"  data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
    </div>
    {% endfor %}
    </div>
    <div class="overflow-hid"> 
        <div class="gtco-section" id="gtco-news">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading-black">
                        <h2>News and Events</h2>
                        <p>Get know more about our Alumni Association's recent engagements</p>
                    </div>
                </div>
                <div class="row">
                {% for article in recent_news %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="{% url 'news' slug=article.slug %}" class="gtco-card-item">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="{{ article.image.url }}" alt="Image" class="img-responsive">
                            </figure>
                            <div class="gtco-text">
                                <h2>{{ article.title|truncatechars:55 }}</h2>
                                <p>{{ article.content|safe|truncatewords:12 }}</p>
                                <p><span class="btn btn-primary">Learn more</span></p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <div><a href="{% url 'news_list' %}" class="gtco-card-item text-center">See More</a></div>
            </div>
        </div>
        <div id="gtco-counter" class="gtco-section">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2>Facts and Figures</h2>
                        <p>The Alumni Association in numbers</p>
                    </div>
                </div>

                <div class="row">

                    {% for figure in figures %}
                    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <span class="counter js-counter" data-from="0" data-to="{{ figure.value }}" data-speed="2000" data-refresh-interval="50">1</span>
                            <span class="counter-label">{{ figure.title }}</span>

                        </div>
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="keywords" content="access, pylp, access pylp, philippine youth leadership program" />
    <meta name="author" content="ACCESS-PYLP" />
    <meta name="google" content="notranslate">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:image" content="{{ header.image.url }}"/>
    <meta property="og:url" content="{% url 'index' %}"/>
    <meta property="og:site_name" content="ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc."/>
    <meta name="twitter:title" content="ACCESS PYLP Alumni Association, Inc." />
    <meta name="twitter:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="twitter:image" content="{{ header.image.url }}" />
    <meta name="twitter:url" content="{% url 'index' %}" />
    <meta name="twitter:card" content="summary_large_image" />
{% endblock %}
