{% extends "base.html" %}
{% load crispy_forms_tags%}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% get_media_prefix %}/directory.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-mt-15em">
            <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                <h1><strong>Log in</strong></h1>  
                <h2>Be part of the organization</h2>
            </div>
        </div>
    </div>
</header>
<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Join Today
                    </legend>
                    {%if messages%}
                        {%for message in messages%}
                            <div class="alert alert-{{message.tags}}">
                                {{message}}
                            </div>
                        {%endfor%}
                    {%endif%}
                    {% if loginForm.errors %}
                    Please double-check the following:    
                    {{loginForm.errors}}
                    {% endif %}
                    {{ loginForm|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Log in</button>
                </div>
                <small class="text-muted">
                    Don't Have An Account? <a class="ml-2" href="{% url 'signup'%}">Sign Up</a>
                </small>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="keywords" content="access, pylp, access pylp, philippine youth leadership program" />
    <meta name="author" content="ACCESS-PYLP" />
    <meta name="google" content="notranslate">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ header.image.url }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc."/>
    <meta name="twitter:title" content="ACCESS PYLP Alumni Association, Inc." />
    <meta name="twitter:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ header.image.url }}" />
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta name="twitter:card" content="summary_large_image" />
{% endblock %}
