{% extends "base.html" %}

{% load static %}

{% block title %}News and Events{% endblock %}
{% block content %}
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({{ header.image.url|safe }})" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row row-mt-15em">
                <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                    <h1><strong>{{ header.title }}</strong></h1>  
                    <h2>{{ header.subtitle }}</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section gtco-gray-bg">
        <div class="gtco-container">

            <div class="row">
                {% if categories %}
                <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="{% url 'news_list' %}" class="btn text-center gtco-card-item"{% if tag_category %}{% else %} style="background:#5cb85c; color: #fff"{% endif %}>All</a>
                </div>
                {% endif %}
                {% for category in categories %}
                <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="{% url 'news_list' category.slug %}" class="btn text-center gtco-card-item"{% if tag_category.slug == category.slug %} style="background:#5cb85c; color: #fff"{% endif %}>{{ category.name }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for article in articles %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="{% url 'news' slug=article.slug %}" class="gtco-card-item">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img src="{{ article.image.url }}" alt="Image" class="img-responsive">
                        </figure>
                        <div class="gtco-text text-left">
                            <h2>{{ article.title|truncatechars:55 }}</h2>
                            <p>{{ article.content|safe|truncatewords:12 }}</p>
                            <p class="gtco-category">{{ article.date_uploaded|date:"F j, Y"}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <div><a href="{% url 'submit-news' %}" style="border-color: grey" class="btn text-center gtco-card-item">Submit an article</a></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="keywords" content="access, pylp, access pylp, philippine youth leadership program" />
    <meta name="author" content="ACCESS-PYLP" />
    <meta name="google" content="notranslate">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="News and Events - ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ header.image.url }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc."/>
    <meta name="twitter:title" content="News and Events - ACCESS PYLP Alumni Association, Inc." />
    <meta name="twitter:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ header.image.url }}" />
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta name="twitter:card" content="summary_large_image" />
{% endblock %}
