{% extends "base.html" %}

{% load static %}

{% block title %}Resources{% endblock %}
{% block content %}
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({{ details.image.url|safe }})" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row row-mt-15em">
                <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                    {% if details %}
                    <h1><strong>{{ details.title }}</strong></h1>  
                    <h2>{{ details.subtitle }}</h2>
                    {%else%}
                    <h1><strong>Resources</strong></h1>  
                    {%endif%}
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section gtco-gray-bg">
        <div class="gtco-container">
            <div class="row">
                {% for resource in resources %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="{% url 'resource' resource.slug %}" class="gtco-card-item" target="_blank">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            {% if resource.image %}
                            <img src="{{ resource.image.url }}" alt="Image" class="img-responsive">
                            {% else %}
                            <img src="{% static 'images/logo.jpg' %}" alt="Image" class="img-responsive">
                            {% endif %}
                        </figure>
                        <div class="gtco-text text-left">
                            <h2>{{ resource.title }}</h2>
                            <p>{{ resource.description|safe|truncatechars:55 }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if request.user.is_staff %}
            <div><a href="{% url 'submit-resource' %}" style="border-color: grey" class="btn text-center gtco-card-item">Add Resources</a></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="keywords" content="access, pylp, access pylp, philippine youth leadership program" />
    <meta name="author" content="ACCESS-PYLP" />
    <meta name="google" content="notranslate">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Resources - ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ details.image.url }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="ACCESS PYLP Alumni Association, Inc."/>
    <meta property="og:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc."/>
    <meta name="twitter:title" content="Resources - ACCESS PYLP Alumni Association, Inc." />
    <meta name="twitter:description" content="The official website of the ACCESS Philippine Youth Leadership Program - Alumni Association, Inc." />
    <meta name="twitter:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ details.image.url }}" />
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta name="twitter:card" content="summary_large_image" />
{% endblock %}
